Checks: '-*,clang-diagnostic-*,llvm-*,misc-*,-misc-unused-parameters,-misc-non-private-member-variables-in-classes,readability-identifier-naming,readability-braces-around-statements'
CheckOptions:
  - key:             readability-identifier-naming.FunctionCase
    value:           camelBack

