[submodule "ropfuscator-extra/include/tinytoml"]
	path = thirdparty/tinytoml
	url = https://github.com/mayah/tinytoml
[submodule "ropfuscator-extra/include/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "tests/utils"]
	path = tests/utils
	url = https://github.com/ropfuscator/utilities
