.DS_Store
.vscode/settings.json
build/*
bin/
GPATH
GRTAGS
GTAGS
!examples/*.c
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# existing LLVM files
AsmParser/
Disassembler/
InstPrinter/
LLVMBuild.txt
MCTargetDesc/
README-FPStack.txt
README-SSE.txt
README-X86-64.txt
README.txt
ShadowCallStack.cpp
TargetInfo/
Utils/
X86.td
X86AsmPrinter.cpp
X86AsmPrinter.h
X86AvoidStoreForwardingBlocks.cpp
X86CallFrameOptimization.cpp
X86CallLowering.cpp
X86CallLowering.h
X86CallingConv.cpp
X86CallingConv.h
X86CallingConv.td
X86CmovConversion.cpp
X86DomainReassignment.cpp
X86EvexToVex.cpp
X86ExpandPseudo.cpp
X86FastISel.cpp
X86FixupBWInsts.cpp
X86FixupLEAs.cpp
X86FixupSetCC.cpp
X86FlagsCopyLowering.cpp
X86FloatingPoint.cpp
X86FrameLowering.cpp
X86FrameLowering.h
X86GenRegisterBankInfo.def
X86ISelDAGToDAG.cpp
X86ISelLowering.cpp
X86ISelLowering.h
X86IndirectBranchTracking.cpp
X86Instr3DNow.td
X86InstrAVX512.td
X86InstrArithmetic.td
X86InstrBuilder.h
X86InstrCMovSetCC.td
X86InstrCompiler.td
X86InstrControl.td
X86InstrExtension.td
X86InstrFMA.td
X86InstrFMA3Info.cpp
X86InstrFMA3Info.h
X86InstrFPStack.td
X86InstrFoldTables.cpp
X86InstrFoldTables.h
X86InstrFormats.td
X86InstrFragmentsSIMD.td
X86InstrInfo.cpp
X86InstrInfo.h
X86InstrInfo.td
X86InstrMMX.td
X86InstrMPX.td
X86InstrSGX.td
X86InstrSSE.td
X86InstrSVM.td
X86InstrShiftRotate.td
X86InstrSystem.td
X86InstrTSX.td
X86InstrVMX.td
X86InstrVecCompiler.td
X86InstrXOP.td
X86InstructionSelector.cpp
X86InterleavedAccess.cpp
X86IntrinsicsInfo.h
X86LegalizerInfo.cpp
X86LegalizerInfo.h
X86MCInstLower.cpp
X86MachineFunctionInfo.cpp
X86MachineFunctionInfo.h
X86MacroFusion.cpp
X86MacroFusion.h
X86OptimizeLEAs.cpp
X86PadShortFunction.cpp
X86PfmCounters.td
X86RegisterBankInfo.cpp
X86RegisterBankInfo.h
X86RegisterBanks.td
X86RegisterInfo.cpp
X86RegisterInfo.h
X86RegisterInfo.td
X86RetpolineThunks.cpp
X86SchedBroadwell.td
X86SchedHaswell.td
X86SchedPredicates.td
X86SchedSandyBridge.td
X86SchedSkylakeClient.td
X86SchedSkylakeServer.td
X86Schedule.td
X86ScheduleAtom.td
X86ScheduleBtVer2.td
X86ScheduleSLM.td
X86ScheduleZnver1.td
X86SelectionDAGInfo.cpp
X86SelectionDAGInfo.h
X86ShuffleDecodeConstantPool.cpp
X86ShuffleDecodeConstantPool.h
X86SpeculativeLoadHardening.cpp
X86Subtarget.cpp
X86Subtarget.h
X86TargetMachine.h
X86TargetObjectFile.cpp
X86TargetObjectFile.h
X86TargetTransformInfo.cpp
X86TargetTransformInfo.h
X86VZeroUpper.cpp
X86WinAllocaExpander.cpp
X86WinEHState.cpp