.vscode/
.DS_Store
.vscode/settings.json
build/*
bin/
GPATH
GRTAGS
GTAGS
!examples/*.c
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# IntelliJ IDEs stuff
.idea
cmake-build-debug

# vscode extensions artifacts
checks.json

result/
result
