[submodule "ropfuscator-extra/include/toml11"]
	path = ropfuscator-extra/include/toml11
	url = https://github.com/ToruNiina/toml11.git
[submodule "ropfuscator-extra/include/tinytoml"]
	path = ropfuscator-extra/include/tinytoml
	url = https://github.com/mayah/tinytoml
