.vscode/
.DS_Store
.vscode/settings.json
build/*
bin/
GPATH
GRTAGS
GTAGS
!examples/*.c
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# IntelliJ IDEs stuff
.idea
cmake-build-debug

# existing LLVM files
AsmParser/
CMakeLists.txt
Disassembler/
InstPrinter/
LLVMBuild.txt
MCTargetDesc/
README-FPStack.txt
README-SSE.txt
README-X86-64.txt
README.txt
TargetInfo/
Utils/
*.cpp
*.def
*.h
*.td
